.mo_jnsp_modal_open {
	overflow: hidden !important;
	position:fixed	!important;
	width: 100% !important;
}

.mo_jnsp_modal {
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100000 !important;
	display: none;
	overflow: hidden !important;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	display:block;
}

.mo_jnsp_modal_backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000 !important;
	filter: alpha(opacity = 50)!important;
	opacity: 0.9 !important;
	height:	100% !important;
}

.mo_jnsp_modal.fade .mo_jnsp_modal_dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}

.mo_jnsp_modal.in .mo_jnsp_modal_dialog {
	-webkit-transform: translate(0, 80px) !important;
	-ms-transform: translate(0, 80px) !important;
	-o-transform: translate(0, 80px) !important;
	transform: translate(0, 80px) !important;
}

.mo_jnsp_modal_open .mo_jnsp_modal {
	overflow-x: hidden;
	overflow-y: hidden;
}

.mo_jnsp_modal_dialog {
	position: relative;
	width: auto;
	margin: 10px;

}

.mo_jnsp_modal_content {
	position: relative;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	margin-top: 12%;
	margin-left: 0px;
	padding: 15px 15px 0px;
	color: #444;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
	border-radius: 4px;
}

.mo_jnsp_modal_header {
	min-height: 14px;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: normal;
	font-family: "Open Sans",sans-serif;
	font-size:17px;
}




.mo_jnsp_modal_body {
	position: relative;
	padding: 4%;
	overflow:hidden !important;
	max-height: 550px !important;
	font-weight: normal;
	font-family: "Open Sans",sans-serif;
}





@media ( min-width :768px) {
	.mo_jnsp_modal_dialog {
		width:auto;
		margin: 0px auto
	}
	.mo_jnsp_modal_content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
	.mo_jnsp_modal_sm {
		width: 300px
	}
	.mo_jnsp_modal_md{
		width: 500px
	}
	.mo_jnsp_modal_lg {
		width: 50%;
	}
}

@media ( min-width :992px) {
	.mo_jnsp_modal_dialog {
		width:auto;
		margin: 0px auto
	}
	.mo_jnsp_modal_lg {
		width: 490px;
	}
	.mo_jnsp_modal_md{
		width: 500px
	}
}

.close{
	text-decoration:none;
	color:grey;
	font-size:13px;
	float:right;
}

.close:hover{
	color:#0073aa;
}

.modal_err_message{
	color:red;
	background-color:rgb(254, 220, 220);
	padding:1%;
	margin-bottom:3%;
}

.mo_jnsp_login_container{
	padding-top:3%;
}

.mo_jnsp_textbox{
	width:48%;
	height:30px;
	background: #fbfbfb;
	font-size: 14px;
	padding: 3px;
	margin: 2px 6px 16px 0;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	-webkit-transition: 50ms border-color ease-in-out;
	transition: 50ms border-color ease-in-out;
	box-sizing: border-box;
}

.btn{
	background: #0085ba;
	border-color: #006799;
	color: #fff;
	box-shadow: 0 1px 0 #006799;
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
	border-color: #0073aa #006799 #006799;
	box-shadow: 0 1px 0 #006799;
	border-radius: 3px;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	display: inline-block;
	font-size:12px;
}

.btn:hover{
	background-color:#1893c0;
}


