.mo_boot_websecurity-tab{
    border-bottom: 1px solid #001b4c;
    color:white;
}

.mo_boot_websecurity-row{
    border: 1px solid #001b4c;
    box-sizing: border-box;
    background: #001b4c;
}

.mo_boot_websecurity-tab:hover{
    background:white;
    color:black;
}

.mini_websecurity_tab{
    cursor: pointer !important;
}

.mo_boot_websecurity-container{
    border: 1px solid #001b4c;
    background:white;
}

.mo_websecurity_main_row{
    background: #001b4c;
    border: 2px solid white;
    height: 60px;
}

.mo_websecurity_btn{
    color: orange !important;
    background: white !important;
    font-size: 16px !important;
}

.profile_style{
    text-align: center !important;
    width: 50% !important;
}

.mo_myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 15px;
    padding: 6px 12px 4px 14px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.mo_myTable {
    border-collapse: separate;
    /*border-radius: 3px;*/
    width: 100%;
    border: 1px solid #001b4c;
    font-size: 14px;
}

.mo_myTable th, .mo_myTable td {
    text-align: left;
    padding: 10px;
}

.mo_myTable tr {
    border-bottom: 1px solid #ddd;
}

.mo_myTable tr.header {
    background-color: #226a8b;
}

.mo_myTable tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

.mo_plan-box{
    border: 1px solid #6e727a;
    min-height:250px;
    background-color: white;;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color:black;
}

.mo_plan-box:hover{
    color:black;
    border-color: #093553;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mo_plan-box div{
    padding:20px;
    font-size: 14px;
    line-height: normal;
    font-weight:400;
}

.mo_plan-box div:first-child{
    height: 90px;
    text-align: center;
    border-bottom: 4px solid #b9babd;
}

.payment-images{
    width:140px;
}

.mo_plan-box div:last-child{
    font-size: 15px;
    line-height: 23px;
}

.mo_custom_checkbox{
    margin-top: -2px !important;
}
.mo_custom_textbox {
    width:60% !important;
}
.mo_boot_form-control {
    display: block;
    width: 100%;
    height: calc(2rem)!important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #868383!important;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mo_db_backup_dropdown{
    width: 25%;
    height: 33px;
    border: 1px solid;
    border-radius: 3px;
}
.mo_boot_form_control_select{
    margin-left: 12px;
    width: 15% !important;
    height: 35px !important;
    float: left;
    padding: 0.375rem 0.75rem;
    border: 1px solid #868383!important;
    border-radius: 0.25rem;
}
.mo_security_register_message{
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #fb9a9a;
    color: red;
    background-color: rgba(255,0,0,0.1);
    padding: 15px;
}
.mo_security_welcome_message
{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: rgba(0, 128, 0, 0.80);
    background-color: rgba(0, 255, 0, 0.15);
    padding: 5px;
}
.mo_security_highlight_background_note{
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
    width: 68%;
}

.mo_security_highlight_background_note_1{
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 0.55em;
    width: 90%;
}
.mo_security_table_layout {
    border-radius: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    margin: 0 2% 2% 0;
}

.mo_security_container
{
    border-radius: 4px;
    width: 60%;
    padding:25px;
    float: left;
    border: 2px solid rgb(15, 127, 182) !important;
}

.mo_security_container_1
{
    border-radius: 4px;
    width: 96%;
    padding:25px;
    float: left;
    border: 2px solid rgb(15, 127, 182) !important;
}

.mo_security_table_layout_1
{
    background-color:#e0e0d8 !important;
    width: 97% !important;
    padding:2% !important;
    overflow: hidden;
}

.mo_security_table{
    width: 100%;
}

.mo_jnsp_table_textbox {
    width: 100%;
    height: 33px !important;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    margin-bottom: 4px;
}

.mo_security_table_td{
    width: 25%;
}
.mo_security_access{
    width: 75%;
    border: 1px solid #94989f !important;
}

.mo_security_textfield{
    width: 80% !important;
    border: 1px solid #94989f !important;
}
.mo_security_dropdown1{
    width: 60% !important;
    border: 1px solid #94989f !important;
}
.mo_security_dropdown{
    width: 80%;
    border: 1px solid #94989f !important;
}

.mo_network_form {
    padding: 0;
    background-color: #fff;
}
.mo_network_form a {
    text-decoration: none !important;
}
.mo_network_form .blank a {
    text-decoration: none !important;
    padding: 0 15px !important;
    font-weight: bold;
}
.mo_network_form a:hover {
    text-decoration: none !important;;
}
.mo_network_form legend {
    margin-left: 10px;
    line-height: 30px;
}
.mo_network_form .lrrow {
    padding: 5px 10px;
    clear: both;
    overflow: hidden;
}
.mo_network_form .lrrow_title {

    font-weight: bold;
    margin-top: 15px;
    color:#00ccff;
}
.mo_network_form .lrrow_button {
    background-color: #F6F6F6;
    border-top: 1px dotted #ddd;
    margin-top: 14px;
    padding: 5px 10px;
}
.mo_network_form .lrrow_description {
    padding: 5px 0 10px 10px;
    font-weight: bold;
    color:#00ccff;
}




.mo_guide_table{
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.mo_guide_table-bordered>thead>tr>th{
    border-bottom-width: 2px;
}

.mo_guide_table-bordered {
    border: 1px solid #ddd;
}

.mo_guide_table-bordered>thead>tr>th, .mo_guide_table-bordered>tbody>tr>td {
    border: 1px solid #ddd;
}

.mo_guide_table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
}

.mo_guide_text-center {
    text-align: center;
}

.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.redtext{color:red;}

.greentext{color:green;}

.blacktext{color:black;}

.bluetext{color:blue;}


.mo_one_third{
    width:33%;
    float: left;
}
.mo_jnsp_table_layout_support_1{
    border-radius: 1px !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
    float: left !important;
    width: 29% !important;
    background-color:#FFFFFF !important;
    border: 2px solid rgb(15, 127, 182) !important;
    padding:25px !important;
    margin-bottom: 10px !important;
}

.mo_jnsp_icon{
    height:50px !important;
    width:50px !important;
    background-image: url("../images/miniorange_i.ico");
    line-height: 50px !important;
    vertical-align: middle;
}

/****css for tab UI*****/
.mo_idp_nav-tab-wrapper {
    border: none;
}

.mo_nav_tab_active, .mo_nav_tab_active {

    box-shadow: 3px 4px 3px #888888 !important;
    background-color: #226a8b !important;
    color: white !important;

}

.mo_nav-tab:hover, .mo_nav-tab:hover {
    background-color: #226a8b !important;
    color: white !important;
}

.mo_nav_tab_active:hover, .mo_nav_tab_active:hover {
    background-color: white !important;
    color: #226a8b !important;
}

.mo_nav-tab, .mo_nav-tab {
    font-size: 14px !important;
    color: black !important;
    display: inline-table !important;
    box-shadow: 3px 4px 3px #888888 !important;
    margin: 5px 0px !important;
    cursor: pointer !important;
    border-radius: 4px;
    width: 9% !important;
    border: 1px solid #226a8b !important;
    padding: 9px !important;
    text-align: center !important;
    text-decoration: none !important;
    white-space: nowrap !important;
}

.mo_nav_tab_active, .mo_nav_tab_active {
    box-shadow: 3px 4px 3px #888888 !important;
    background-color: #226a8b !important;
    color: white !important;

}

.mo_nav-tab:hover, .mo_nav-tab:hover {
    background-color: green !important;
    color: white !important;
}

.mo_nav_tab_active:hover, .mo_nav_tab_active:hover {
    background-color: white !important;
    color: #226a8b !important;
}

.mo_textarea_css {
    border: 1px solid #9f9e9e !important;
}

.mo_btn_success{
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    background-color: #226a8b !important;
}

.mo_btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.mo_btn:disabled{
    opacity: 0.65;
}

.mo_import_file{
    width: 40%;
    border: 1px solid black !important;
    border-radius: 3px;
    color: black;
    padding-top: 1px;
    height: 1.9rem;
}

#isisJsData .subhead{
    display: none !important;
}

.checkbox_style{
    float: left !important;
    margin-right: 10px !important;
    margin-top: 5px !important;
}

.ipblock_style{
    width: 20% !important;
}

.ipwhitelist_style{
    width: 33% !important;
}

.advnc_style{
    font-size: 1.25rem !important;
}

.mo_jnsp_tab {
    font-size: 17px !important;
}

.mo_jnsp_works-step{
    margin-bottom: 40px;
}
.mo_jnsp_works-step div{
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 8px;
    float: left;
    font-size: 20px;
    margin-right: 25px;
    margin-bottom: 27px;
}
.mo_jnsp_works-step p{
    font-size: 15px;
    text-align: left;
    width: 100%;
    height: 100%;
}

.mo_jnsp_query_phone{
    font-size: initial !important;
}

.mo_jnsp_query_phone::placeholder{
    font-size: initial !important;
}

input[type="checkbox"][disabled]{
    cursor: not-allowed !important;
}

.mo_copy {
    width: 27px !important;
    padding: 4px;
    background-color: #fffffc;
    cursor: pointer;
    border-radius: 3px;
    float: right !important;
}

.mo_copy:active {
    background: lightgrey;
}

.copytooltip {
    position: relative;
    display: inline-block;
    size: letter;
}

.copytooltip .copytooltiptext {
    visibility: hidden;
    width: 120px;

    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 50;
    transition: opacity 0.3s;
}

.copytooltip .copytooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copytooltip:active .copytooltiptext {
    visibility: visible;
    opacity: 1;
}

details{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background-color: #ffffff;
}
details>summary:focus{
    outline: none;
    background-color: #e2e6ea;
}
details>summary{
    padding: 8px;
    margin: 0;
    background: #f8f9fa;
    font-size: 18px;
    color: #bd3858!important;
}